/*Deshabilitar resize del text area*/
textarea{resize: none;}

/*Botón de Enviado*/
.btn-shell{
    background-color: var(--light);
    color: #fff;
    text-shadow: 0px 2px 2px var(--dark);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;}
.btn-shell:hover{
    background-color: var(--medium);
    transition: ease-in 0.3s;}

/*Imagen de Carta*/
.img-contacto{width: 200px;}

/*Espacio que abarca en pantalla el formulario de contacto*/
.contacto{height: 80vh;}

/*Imagen de fondo */
.container-contacto{
    background-image: url(src\assets\images\pexels-merve-tülek-11093427.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;}

/*Text Shadow para el título*/
.text-shadow{
    text-shadow: 0px 2px 2px var(--dark);
}