<div class="container-contacto m-0 p-0">
    <!-- Formulario -->
    <div class="container d-flex align-items-center px-0 justify-content-center contact-section my-0 py-0">

        <!-- Row -->
        <div class="row align-items-center justify-content-center mx-0">

            <!-- Columna del Formulario-->
            <div class="col-12 col-sm-6 col-lg-5">
                <!-- Título -->
                <h2 class="text-center pb-2 fs-3 text-white text-shadow">Contactame</h2>
                <!-- Row -->
                <div class="row">
                    <!-- Columnas Breakpoint 6 -->
                    <div class="col-6 form-floating ">
                        <input type="text" class="form-control shadow-none" placeholder="Nombre" id="floatingInput">
                        <label for="floatingInput" class="px-4  text-muted">Nombre</label>
                    </div>
                    <div class="col-6 form-floating ">
                        <input type="text" class="form-control shadow-none" placeholder="Asunto" id="floatingInput">
                        <label for="floatingInput" class="px-4  text-muted">Asunto</label>
                    </div>
                     <!-- Columnas Breakpoint 12 -->
                    <div class="col-12 mt-2 form-floating">
                        <input type="email" class="form-control shadow-none" id="floatingInput" placeholder="email@gmail.com">
                        <label for="floatingInput" class="px-4 text-muted">email@gmail.com</label>
                    </div>
                    <div class="col-12 mt-2 form-floating">
                        <textarea class="form-control shadow-none" id="floatingInput" placeholder="Escriba su Email"></textarea>
                        <label for="floatingInput" class="px-4 text-muted">email@gmail.com</label>
                    </div>
                    <div class="col-12 pt-2 d-flex justify-content-center">
                        <!-- Botón de Envado-->
                        <button type="button" class="btn-medium p-2 px-4">
                        Enviar
                        </button>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    
    <!--Footer-->
    <app-footer></app-footer>
</div>