.btn-shell{
    background-color: var(--light);
    color: #fff;
    text-shadow: 0px 2px 2px var(--dark);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-shell a {color: var(--ocean);}

.btn-shell:hover{
    background-color: var(--medium);
    transition: ease-in 0.3s;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid var(--medium);
    box-shadow: 0px 2px 5px var(--dark);
}

.acceso-form{
    background-color: #875946;
}

.form-control{
    border: 1px solid var(--light);
}