.text-sm{
    font-size: 0.8rem;
    color: #fff;
}

.nav-item a, .brand{
    color:#fff;
}

.nav-item a:hover{
    color: var(--dark);
    transition: ease-in 0.3s; 
}
/* .footer{
    height: 5vh;
} */