/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

/*TO ALL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/*TO ALL*/


/*CLASES REUTILIZADAS*/
:root{
    --ocean: rgb(26, 60, 64);
    --deepBlue: rgb(35, 107, 115);
    --oldWave: rgb(12, 121, 115);
    --brightBlue: rgb(90, 239, 255);
}
.button{
    margin: 20px 0;
    padding: 10px 20px;
    background-color: var(--oldWave);
    color: #fff;
    font-weight: bolder;
    font-size: 0.9em;
    border: none;
    border-radius: 1em;
    cursor: pointer;  
}
.button:hover{
    background-color: #fff;
    color: var(--oldWave);
    transition: 0.5s;
}
.hoverBlue:hover{
    color: var(--brightBlue);
    transition: ease-in 0.3s;
}
.bgOcean{
    background-color: var(--ocean);
    width: 100vw;
}
span{color: var(--brightBlue);}
h1{font-size: 3em;}
h2{font-size: 3em;}
h3{font-size: 2em;}
h4{font-size: 1.3em;}
h1, h2, h3, h4,a, p, i{color: #fff;}
a{text-decoration: none;}
li{list-style: none;}
i{font-size: 1.5em;}
.divider{
    height: 1px;
    background-color: var(--brightBlue);
    width: 100%;
    margin: 0 auto;
}
/*CLASES REUTILIZADAS*/


body{
    font-family: 'Montserrat', sans-serif;
}

/*CONTENEDOR DEL NAV Y BANNER*/
.wrapper{
    width: 100vw; /*para que ocupe todo el espacio de nuestra pantalla*/
    height: 110vh;
    background-color: var(--ocean);
}
/*CONTENEDOR DEL NAV Y BANNER*/


/*NAVEGACIÓN*/
.navbar{
    display: flex; /*para que se pongan los elementos unos a lado de otro*/
    justify-content: space-between; /*espaciado entre brand y lista*/
    padding: 1.5em; 
    align-items: baseline;
    margin-right: 63px; /*separación a la derecha alineada con la foto*/
}
.menu{
    display: flex; /*para que se pongan los elementos lado a lado*/
    width: 50%;
    justify-content: space-around; /*espaciado de la lista*/
}
.brand {
    font-size: 0.8em;
}

.menu a{
    color: #fff; /*enlaces*/
    text-decoration: none; /*quita el subrayado de los a del nav*/
}
.menu .active{
    color: var(--brightBlue);
}
/*NAVEGACIÓN*/


/*MAIN CONTENT*/
.main{
    margin: 0 auto; /*centrado*/
    width: 80vw; /*separación de los lados*/
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr); /*se toman dos fracciones*/
    align-items: center;
}
.main img{ 
    width: 30vw;
    border: 7px solid var(--oldWave);
}
.info-content{
    margin-right: 30px;
}
.info-content h1, h2{
    margin: 8px 0;
}
/*MAIN CONTENT*/


/*ABOUT*/
.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
    margin-top: -50px;
    height: 80vh;
}
.about img{
    transform: scaleX(-1); /*respejar imagen*/
    width: 100%;
    grid-column:1/5 ;
}
.about-info{
    grid-column: 5/10;
    margin-top: 20px;
    padding: 2em 1em 1em 1em;
}
.about-info h2{
    color: var(--deepBlue);
    margin-left: -3px;
}
.about-info p{
    font-weight: bold;
    padding: 5px 0;
    font-size: 1.2em;
    color: var(--ocean);
}
/*ABOUT*/


/*HABILIDADES*/
.habilidades{
    background-color: var(--oldWave);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6em 0;
}
.containerHabilidadesItems{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 3em;
}
.itemAndName{
    text-align: center; /*centrado del texto para con el logo*/
    margin: 1em auto;
    /* margin: 0 5em 0 0; */
    padding: 0 2em;
}
.itemHabilidades{font-size: 6em; padding-bottom: 0.1em; text-shadow: 1px 2px var(--brightBlue);}
.itemHabilidades:hover{
    cursor: pointer;
    text-shadow: 5px 8px var(--ocean);
}
/*HABILIDADES*/


/*PROYECTOS*/
.proyectos{
    background-color: var(--ocean);
    padding: 6em 0 0 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.proyectosContainerItems{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 2em;
}
.proyectosItem{
    text-align: start;
    margin: 0 1em;
    background-color: var(--deepBlue);
    border-radius: 1em;
}
.itemImg{
    width:100%;
    height: 200px;
    background-image: url(./images/teclado--pexels-josh-sorenson.jpg);
    background-size: cover;
}
.itemText{padding: 0.5em;}
.itemInfo h3{padding: 0.3em; }
.itemInfo p{padding: 0.5em;}
.itemLinks{
    display:flex;
    justify-content: space-evenly;
    padding: 1em 0;
}
/*PROYECTOS*/


/*CONTACT*/
.containerContact{
    padding: 80px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "cont cont cont cont cont cont img img img img"
    "cont cont cont cont cont cont img img img img"
    "cont cont cont cont cont cont img img img img";
    grid-template-columns: repeat(10,1fr);
    align-items: center;
    justify-content: center;
}
.contactForm{
    width: 40vw;
    margin: 0 auto; /*centrado*/
    grid-area: cont;
}
.keepInTouch{display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;}
.keepInTouch h4{margin: 1em;}
.woman{
    grid-area: img;
}
.woman img {
    width: 100%;
}
.contactHeading h4{
margin:0.5em;
}
.containerContact .contactForm{
    grid-area: cont;    
}
.form{
    display: flex;
    flex-direction: column;
   
}
.form input{
    padding: 1em;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid var(--brightBlue);
    color: #fff;
}
.form textarea{
    height: 130px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--brightBlue);
    color:#fff; /*color del texto al escribir*/
    padding: 1em; 
    resize: none; 
    text-align: start;
}
.form input, textarea:focus{
    outline: none;
}
/*CONTACT*/


/*FOOTER*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: var(--deepBlue);
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    width: 40vw;
    margin-top: 1em;
}
.social i{ 
    margin: 0 1em; font-size: 2em;
}
/*FOOTER*/



/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

/* }
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active { */

  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .2s, 1.5s;
  animation-duration: .2s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

