<div class="container-fluid my-0 py-0 footer sm-text g-0 d-flex align-content-md-end align-items-md-end justify-content-center justify-content-lg-end">

    <ul class="d-flex justify-content-center justify-content-lg-end px-2 m-0 pb-2" >
        <li><p class="text-sm fw-bold text-dark m-0">Maria Monchot-Desarrolladora Full Stack Junior</p></li>
        <li><a class="nav-link fw-bold text-white px-2" href="https://github.com/KateClysm"><i class="fa-brands fa-github"></i></a></li>
        <li> <a class="nav-link fw-bold text-white px-2" href="https://stackoverflow.com/users/20352686/maria-monchot"><i
            class="fa-brands fa-stack-overflow"></i></a></li>
        <li> <a class="nav-link fw-bold text-white px-2" href="#" id="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
        <li> 
            <a class="nav-link credits fw-bold text-white px-2 py-0 text-center" routerLink="/Creditos">
                <div class="nav-item">Créditos</div></a>
        </li>
    </ul>
    
   
   
   
</div>