<div class="container-fluid pt-3  pb-sm-1 d-flex justify-content-center align-content-center justify-content-md-end footer">

    <p class="text-sm text-white">Maria Monchot-Desarrolladora Full Stack Junior</p>
    <a class="nav-link text-white px-2" href="https://github.com/KateClysm"><i class="fa-brands fa-github"></i></a>
    <a class="nav-link text-white px-2" href="https://stackoverflow.com/users/20352686/maria-monchot"><i class="fa-brands fa-stack-overflow"></i></a>
    
    <a class="nav-link credits text-white px-2 py-0 sm-text" href="/Creditos">
        <div class="nav-item">
            Créditos
            <i class="fs-6 fa-solid fa-icons px-1 py-0"></i>
        </div>
    </a>
</div>