<!-- La clase principal contiene la imagen que encapsula a la barra de navegación y al banner -->
<div class="principal">

    <app-nav></app-nav>

    <div class="container-fluid d-flex align-items-center  justify-content-center banner">
        <div class="container text-center">
            <h1 class="pb-1 ts-dark display-1 text-uppercase">{{miPortfolio.name}}</h1>
            <div class="">
                <h2 class="text-white fs-3">{{miPortfolio.status}} 
                </h2>
            </div>
            <button type="button" class="btn-shell p-2 px-3 mt-3">Descargar CV</button>
        </div>
    </div>

</div>
