<!--Contenedor de la Sección Sobre mí-->
<div class="container-fluid d-flex row px-0 mx-0 pt-5 justify-content-center container-sobremi">

    <!--Una Row con la foto y título-->
    <div class="row align-items-center justify-content-center p-0 pt-5">
        <!--Foto-->
        <div class="col-5 m-auto col-sm-4">
            <img src="./assets/images/relax (2).png" class="img-section d-block mx-auto my-auto img-fluid mx-0 p-0 " alt="Persona tomando un café">
        </div>
        <!--Título y Detalle-->
        <div class="col text-white p-0 pe-2 pe-md-5">
            <h2 class="fs-3 text-shadow">Sobre mí
                <a href="#">
                    <i class="fa-solid fa-pen text-white fs-6"></i>
                </a>
            </h2>
            <!--Detalle-->
            <p>Mi mayor cualidad es ser Autodidacta.
            </p>
        </div>
    </div>  
    
    <!--Otra Row con las Secciones-->
    <div class="row d-flex justify-content-sm-end justify-content-center py-3 px-0">

        <!--Dos columnas, una pertenece a una línea decorativa que aparece a partir del breakpoint sm y la otra pertenece a las secciones-->
        <!--Línea Decorativa-->
        <div class="col-2 p-0 vr px-md-1 d-sm-flex justify-content-end d-none"></div>

        <!--Secciones-->
        <div class="col col-sm-10 text-white justify-content-center mt-3 mt-lg-5 pb-5 mb-0">
            <!--Row Educacion-->
            <div class="row mx-0 px-lg-5">
                <!--Título-->
                <h2 class="fs-4 pb-2 border-bottom">Educación
                    <a href="#">
                        <i class="fa-solid fa-pen text-white fs-6"></i>
                    </a>
                </h2>
                <!--Contenedor de las Card de Educación-->
                <div class="row px-0 mx-0 justify-content-center pt-3 gap-2 justify-content-sm-start">
                    <!--Card iterada con For-->
                    <div class="col-12 col-md col-lg text-center text-sm-start px-3 card-educacion py-2 py-lg-3">
                        <!-- <h4 class="fs-5">{{educacion.name}}</h4>
                        <p class="sm-text">{{educacion.mediante}}</p>
                        <p class="sm-text">{{educacion.periodo}}</p>
                        <p class="sm-text">{{educacion.detalle}}</p> -->
                    </div>
                </div>  
            </div>

            <!--Row Tecnologías Principales-->
            <div class="row mx-0 px-lg-5">
                <!--Contenedor de la sección-->
                <div class="row px-0 mx-0 justify-content-center mt-3 gap-2 justify-content-sm-start py-5">
                    <!--Título-->
                    <h2 class="fs-4 pb-2 border-bottom text-shadow">Tecnologías Principales
                        <a href="#">
                            <i class="fa-solid fa-pen text-white fs-6"></i>
                        </a>
                    </h2>
                    <!--Contenedor de los íconos-->
                    <div class="row px-0 mx-0 justify-content-center pt-3 gap-2 ">
                        <div class="tecnologias col-2 text-center fs-1">
                            <i class="habilidadesIcon fa-brands fa-html5"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                            <i class="habilidadesIcon fa-brands fa-css3-alt"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                            <i class="habilidadesIcon fa-brands fa-js"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                            <i class="habilidadesIcon fa-brands fa-bootstrap"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                            <i class="habilidadesIcon fa-brands fa-angular"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!--Row Listado Completo de Tecnologías-->
            <div class="row mx-0 px-lg-5">
                <!--Título-->
                <h2 class="fs-4 pb-2 border-bottom text-shadow">Listado completo de tecnologías:
                    <a href="#">
                        <i class="fa-solid fa-pen text-white fs-6"></i>
                    </a>
                </h2>
                <!--Contenedor con la lista de tecnologías-->
                <div class="row px-0 mx-0 justify-content-center pt-3 gap-2 justify-content-sm-start">
                    <div class="text-shadow col text-center fs-5 p-2 p-md-3">
                        <p>MySQL</p>
                    </div>                        
                    <div class="tecnologias-text col text-center fs-5 p-2 p-md-3">
                        <p>Wamp Server</p>
                    </div>
                    <div class="tecnologias-text col text-center fs-5 p-2 p-md-3">
                        <p>Json</p>
                    </div>
                    <div class="tecnologias-text col text-center fs-5 p-2 p-md-3">
                        <p>NodeJS</p>
                    </div>
                    <div class="tecnologias-text col text-center fs-5 p-2 p-md-3">
                        <p>TypeScript</p>
                    </div>
                    <div class="tecnologias-text col text-center fs-5 p-2 p-md-3">
                        <p>Java</p>
                    </div>
                </div>
            </div>

            <!--Row Futuro aprendizaje-->
            <div class="row mx-0 px-lg-5">
                <!--Contenedor de la sección-->
                <div class="row px-0 mx-0 justify-content-center mt-3 gap-2 justify-content-sm-start py-5">
                    <!--Título-->
                    <h2 class="fs-4 pb-2 border-bottom text-shadow">Futuro Aprendizaje
                        <a href="#">
                            <i class="fa-solid fa-pen text-white fs-6"></i>
                        </a>
                    </h2>
                    <!--Contenedor con los Íconos de Futuro Aprendizaje-->
                    <div class="row px-0 mx-0 justify-content-center pt-3 gap-2 ">
                        <div class="tecnologias col-2 text-center fs-1">
                            <i class="habilidadesIcon fa-brands fa-react"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                        <i class="habilidadesIcon fa-brands fa-python"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>
    <app-footer></app-footer>
</div>