.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editSection{
    height: 90vh;
    background: linear-gradient(var(--storm), var(--dark));
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid var(--medium);
    box-shadow: 0px 2px 5px var(--dark);}

/*Borde de los input*/
.form-control{
    border: 2px solid var(--light);}
