/*Título*/
.ts-dark{
    color: #fff;
    text-shadow: 0px 5px 5px  var(--dark);}

/*Fondo*/
.container-home{
    background-image: url(src\assets\images\pexels-kate-trifo-4057061.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

/*Banner*/
.home{height: 85vh;}

/*Créditos*/
.credits{
    height: 5vh;}
.credits:hover{
    color: var(--dark);
    transition: ease-in 0.3s; }
.nav-item:hover{
    color: var(--dark);
    transition: ease-in 0.3s; }