/*Línea Decorativa*/
.vr{
    background:linear-gradient(#fff, #167e8c);
    opacity: 1;
    width: 0.2rem;
    border-radius: 1rem;}

/*Foto que envuelve al nav y a la sección completa de Experiencia y Proyectos*/
.container-experiencia{
    background-image: url(src\assets\images\image.png);
    background-size: cover;
    background-repeat: no-repeat;}
    
/*Card Trabajo*/
.card-trabajo{
    background-color:#a99b94a7;
    border-radius: 1rem;}
/*Hover Trabajo*/
.card-trabajo:hover, .card-proyecto:hover{
    background-color: #167e8c5f;}

/*Card Proyecto*/
.card-proyecto{
    background-color:#a99b94a7;
    border-radius: 1rem;}
/*Imagen Proyecto*/
.card-img-top{
    border: none;
    border-radius: 0.8rem;}

/*Botón Ver Proyecto Ver Código*/
.btn-dark{
    background-color: #3e3037;
    color: #fff;
    text-shadow: 0px 2px 2px var(--dark);
    border: none;
    border-radius: 0rem 0.8rem;
    cursor: pointer;}
/*Hover de los botones*/
.btn-dark:hover{
    background-color: var(--medium);
    transition: ease-in 0.3s;}

/*Hover de las tarjetas Trabajo y Proyecto*/
.card:hover{
    background-color:#764a3169;
    transition: 0.4s;}

/*Radio de los Logos empresas*/
.logo-empresa{
    border-radius: 2rem;}


.sm-text{
    font-size: small;}
    