<!--Contenedor de toda la sección Experiencia y Proyectos-->
<div class="container-fluid d-flex row px-0 mx-0 pt-5 justify-content-center container-experiencia">

    <!--Una Row con la foto y título-->
    <div class="row align-items-center justify-content-center p-0 pt-5">
        <!--Foto-->
        <div class="col-5 m-auto col-sm-4">
            <img src=".\assets\images\application.png" class="img-section d-block mx-auto my-auto img-fluid mx-0 p-0 " alt="Persona tomando un café">
        </div>
        <!--Título-->
        <div class="col text-white p-0 pe-2 pe-md-5">
            <h2 class="fs-3 text-shadow">Experiencia y Proyectos
                <a href="#">
                    <i class="fa-solid fa-pen text-white fs-6"></i>
                </a>
            </h2>
        </div>
    </div>  
    
    <!--Una Row diferente para las Secciones-->
    <div class="row d-flex justify-content-sm-end justify-content-center py-3 px-0">

        <!--Dos columnas, una pertenece a una línea decorativa que aparece a partir del breakpoint sm y la otra pertenece a las secciones-->
        <!--Línea Decorativa-->
        <div class="col-2 p-0 vr px-md-1 d-sm-flex justify-content-end d-none"></div>
        <!--Secciones-->
        <div class="col col-sm-10 text-white justify-content-center mt-3 mt-lg-5 pb-5">
    
            <!--Row de Experiencia laboral-->
            <div class="row mx-0 px-lg-5">
                <!--Título-->
                <h2 class="fs-4 px-1 text-shadow">Quiénes confían en mi trabajo
                    <a href="#">
                        <i class="fa-solid fa-pen text-white fs-6"></i>
                    </a>
                </h2>
                <!--Row de las card de Trabajo-->
                <div class="row px-0 mx-0 justify-content-center pt-3 gap-2 justify-content-sm-start">
                    <!--Columnas de Cards de Trabajo con For-->
                    <div class="col-12 col-md col-lg text-center text-sm-start px-1 card-trabajo ps-3">
                        <!--Logo de las Empresas-->
                        <div class="logo-trabajo fs-3 py-3">
                            <img class="logo-empresa"height="40px">
                        </div>
                        <h4 class="fs-5">kwsadilaslidasidasld</h4>
                        <p class="sm-text">kwsadilaslidasidasld</p>
                        <p class="sm-text">kwsadilaslidasidasld</p>
                        <p class="sm-text">kwsadilaslidasidasld</p>
                    </div>
                </div>  
            </div>

            <!--Row de los Proyectos-->
            <div class="row mx-0 px-lg-5 pt-5">
                <!--Título-->
                <h2 class="fs-4 px-1 text-shadow">Proyectos
                    <a href="#">
                        <i class="fa-solid fa-pen text-white fs-6"></i>
                    </a>
                </h2>
                <!--Row de las secciones-->
                <div class="row px-0 mx-0 justify-content-center gap-2 justify-content-sm-start pt-3 ">
                    <!--Columnas de Card Proyecto con For-->
                    <div class="col-12 col-md-3 col-lg-4 text-center text-sm-start p-1 text-darkk card-proyecto">
                        <!--Imagen del Proyecto-->
                        <div class="card-image">
                            <img src=".\assets\images\cozydesk.jpg" class="card-img-top" width="100%" height="225" >
                        </div>
                        <!--Body del Proyecto-->
                        <div class="card-body p-0 text-white">
                            <!--Título-->
                            <!-- <h5 class="pt-2">{{proyecto.name}}</h5> -->
                            <p class="card-text sm-text">PROYECTO NOMBRE</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group gap-1">
                                    <button type="button" class="btn btn-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">
                                        <i class="fa-brands fa-github fs-4"></i>
                                    </button>
                                </div>
                                <small class="pe-3">shdlad</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <app-footer></app-footer>
</div>

