.vr{
    /* height: 100vh; */
    background:linear-gradient(#fff, var(--oldblue));
    opacity: 1;
    width: 0.2rem;
    border-radius: 1rem;
}

.img-section{
    width: 280px;
}
.tecnologias{
    text-shadow: 0px 5px 2px  var(--dark);
    /* font-size: 4rem; */
}
.tecnologias:hover{
    color: var(--medium);
}

.sm-text{
    font-size: small;
}

.card-trabajo{
    background-color:#a9775da7;
    border-radius: 2rem;

}

.card-trabajo:hover{
    background-color: #80563fa7;

}

.btn-shell{
    background-color: var(--light);
    color: #fff;
    text-shadow: 0px 2px 2px var(--dark);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-shell a {color: var(--ocean);}

.btn-shell:hover{
    background-color: var(--medium);
    transition: ease-in 0.3s;
}

.card:hover{
    background-color:#d699764d;
    transition: 0.4s;
    color: #fff;
}
.text-darkk{
    color: var(--dark);
}
.logo-image{
    border-radius: 2rem;
}