<form class="contaner-fluid mx-auto col-10 col-sm-6 col-lg-4 acceso-form text-center">
    <div class="container mx-auto mb-3">
      <img class="m-3" src=".\assets\images\key.png" alt="" width="65">
      <h4 class="mb-3 fw-normal text-white">Edición del Creador</h4>
    </div>

    <div class="form-floating pb-2 px-2">
      <input type="email" class="form-control" id="floatingInput" placeholder="email@gmail.com">
      <label for="floatingInput">email@gmail.com</label>
    </div>

    <div class="form-floating pb-2 px-2 ">
      <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
      <label for="floatingPassword" >********</label>
    </div>

    <div class="form-floating pb-2 px-2 ">
      <button class="w-100 btn btn-lg btn-shell " type="submit">Entrar</button>
    </div>
    

    <p class="mt-5 mb-3 text-muted">© 2022–Actual Date</p>
</form>