<div class="cuerpo px-0 mx-0">

  <div class="container-fluid principal p-0 m-0">
    <app-nav></app-nav>
    <app-baner></app-baner>
  </div>
  
  <div class="container-fluid info p-0 m-0">
    <app-nav ></app-nav>
    <app-sobremi></app-sobremi>
    <app-footer></app-footer>
  </div>

  <div class="container-fluid experiencia p-0 m-0">
    <app-nav ></app-nav>
    <app-experiencia></app-experiencia>
    <app-footer></app-footer>
  </div>

  <div class="container-fluid contacto">
    <app-nav></app-nav>
    <app-contacto></app-contacto>
    <app-footer></app-footer>
 </div>
 
</div>