.vr{
    /* height: 100vh; */
    background:linear-gradient(#fff, var(--oldblue));
    opacity: 1;
    width: 0.2rem;
    border-radius: 1rem;
}

.img-section{
    width: 280px;
}

/*educación*/
.accordion-button:not(.collapsed){
    color: #fff;
    background-color: var(--dark);
    font-weight: bold;    
}

.accordion-button{
    display:block;
    text-align: center;
    /* font-size: 0.8rem; */
}
.accordion-button{
    font-weight: bold;
    color: var(--dark);
    background-color: var(--peach);
}

.accordion-collapse{
    transition: 0.5s;
}

.accordion{
    box-shadow: none;
    border: 1px solid #fff;
    border-radius: 0.4rem;
}
.accordion-item, .border-muted-bottom{
    border: none;
}


.accordion-button:focus {
    outline: 0;
    box-shadow: none;
}

/*tecnologias*/
.tecnologias{
    text-shadow: 0px 5px 2px  var(--dark);
    /* font-size: 4rem; */
}
.tecnologias:hover{
    color: var(--medium);
}

.sm-text{
    font-size: small;
}