<div class="container-fluid d-flex row px-0 mx-0 pt-5 justify-content-center sobremi">
    <div class=" row align-items-center justify-content-center p-0 pt-5">

        <div class="col-5 m-auto col-sm-4">
            <img src="./assets/images/relax (2).png" class="img-section d-block mx-auto my-auto img-fluid mx-0 p-0 " alt="Persona tomando un café">
        </div>

        <div class="col text-white p-0 pe-2 pe-md-5">
            <h2 class="fs-3">Sobre mí</h2>
            <p>Mi mayor cualidad es ser Autodidacta.</p>
        </div>
    </div>    
</div>

<div class="row mx-auto d-flex justify-content-center datos py-3">
    <div class="col-4 p-0 vr px-md-1 d-sm-flex justify-content-center d-none"></div>

    <div class="col col-sm-8 text-white justify-content-center  mt-3 mt-lg-5">

        <div class="row px-1 ps-md-5">
            <h2 class="fs-3">Educación</h2>
            <div class="col pt-3">
                <div class="accordion " id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button d-block text-center fw-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Bachillerato en Comunicación
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="acordeon-p">
                                <strong>Periodo: </strong> 00/00/0000
                            </p>
                            <p class="acordeon-p">
                                <strong>Mediante: </strong> Virtual/Presencialidad
                            </p>
                            <p class="acordeon-p">
                                <strong>Detalle: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptates.
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed fw-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Tecnicatura Analista Programador Universitario
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="acordeon-p">
                                <strong>Periodo: </strong> 00/00/0000
                            </p>
                            <p class="acordeon-p">
                                <strong>Mediante: </strong> Virtual/Presencialidad
                            </p>
                            <p class="acordeon-p">
                                <strong>Detalle: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptates.
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed fw-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Plan Programar Argentina
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="acordeon-p">
                                <strong>Periodo: </strong> 00/00/0000
                            </p>
                            <p class="acordeon-p">
                                <strong>Mediante: </strong> Virtual/Presencialidad
                            </p>
                            <p class="acordeon-p">
                                <strong>Detalle: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptates.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <div class="row mt-5 px-1 ps-md-5">
            <h2 class="fs-3">Tecnologías</h2>
            <div class="col pt-3">
                <div class="container mx-auto p-0">
                    <div class="row text-white mx-auto gap-4 justify-content-center">
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-html5"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-css3-alt"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-js"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-node-js"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-bootstrap"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-angular"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-java"></i>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 px-1 ps-md-5 pb-5">
            <h2 class="fs-3">Futuro Aprendizaje</h2>
            <div class="col pt-3">
                <div class="container mx-auto p-0">
                    <div class="row text-white mx-auto gap-4 justify-content-center">
                        <div class="tecnologias col-2 text-center fs-1">
                            <i class="habilidadesIcon fa-brands fa-react"></i>
                        </div>
                        <div class="tecnologias col-2 text-center fs-1">
                          <i class="habilidadesIcon fa-brands fa-python"></i>
                        </div>
                  
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
  