<!-- Barra de Navegación expansible a partir de dispositivos large -->
<nav class="navbar navbar-expand-lg navbar-dark mt-0 pt-0" aria-label="Offcanvas navbar large">
    <!-- Contenedor Fluido -->
    <div class="container-fluid p-2 px-3 ps-lg-5 fondo-nav">
  
      <!-- ícono Plan Programar -->
      <a class=" navbar-brand pe-3" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
        <img  src="assets/images/APLogo.png" alt="Logo Plan Programar Argentina"  class="logo-Plan">
      </a>
    
      <!-- Toggler -->
      <button class="navbar-toggler p-1 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Offcanvas -->
      <div class="offcanvas offcanvas-end bg-offcanvas-nav " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  
        <!-- Offcanvas Header -->
        <div class="offcanvas-header">
          <!-- Título dentro del nav  -->
          <h5 class="offcanvas-title p-3 text-white" id="offcanvasNavbarLabel">Web Developer Maria Monchot</h5>
          <!-- Botón de cerrado -->
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
  
        <!-- Offcanvas Body -->
        <div class="offcanvas-body">
          <!-- Lista Desorganizada -->
          <ul class="navbar-nav pe-5 gap-4 align-items-center justify-content-center">
            <!-- Ítems -->
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Sobre-Mi">Sobre mí</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Experiencia">Experiencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Contacto">Contacto</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="https://github.com/KateClysm"><i class="fs-3 fa-brands fa-github"></i></a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="https://stackoverflow.com/users/20352686/maria-monchot"><i class="fs-3 fa-brands fa-stack-overflow"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link login btn r-3" href="/Acceso">Acceso</a>
            </li>
                       
          </ul>
        </div>
  
      </div>
  
    </div>
  
  </nav>
  