/*Fondo al abrir la nav en dispositivos pequeños*/
.offcanvas.showing, .offcanvas.show:not(.hiding) {
    background-color: #896454ad; }

/*Fondo de la barra de navegación extendida y Altura*/
.navbar{height: 10vh;
    background-color: #3e303758;}

/*Items*/
.nav-item .login, .nav-item a, .brand {
    color: #fff;}
/*Items Hover*/
.nav-item a:hover, .brand:hover{
    color: var(--dark);
    transition: ease-in 0.3s; }
/*Logo Plan Programar*/
.logo-Plan{height: 2rem;
    margin-top: -0.3rem;}


/*Borrado del borde del toggler en dispositivos pequeños*/
.navbar-toggler {
    border: none; 
}
/*Configuración del ícono toggler en dispositivos pequeños*/
.navbar-toggler-icon {
    width: 2em;
    height: 2em;}
