.credits-container{
    background-image: url(src\assets\images\pexels-kate-trifo-4057059.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.credits-section{
    height: 80vh;
}
.credit-link{
    color: var(--dark);
}
.fondo-credits{
    background-color: var(--dust);
}
