<div class="credits-container container-fluid ">

    <div class="d-flex align-content-center justify-content-center pt-5 credits-section">
        <div class="my-auto fondo-credits px-5 rounded-3">

            <h2 class="fs-2 text-shadow text-white d-flex py-3">Créditos</h2> 
            <div class="row text-white">
    
                <div class="col">
                    <h4>De Pexels:</h4>
                    <ul class="list-unstyled">
                        <li >
                            <p>-Escritorio</p>
                            <p>Usada en sección "Inicio""</p>
                            <a class="credit-link" href="https://www.pexels.com/es-es/foto/cafe-apple-escritorio-oficina-4057061/" title="spa stickers">Foto de Kate Trifo de Pexels</a>
                        </li>
    
                        <li class="pt-2">
                            <p>-Escritorio</p>
                            <p>Usada en las secciones "Educación" y "Experiencia"</p>
                            <a class="credit-link" href="https://www.pexels.com/es-es/foto/ordenador-portatil-gris-al-lado-de-una-taza-de-ceramica-verde-1422286/" title="application stickers">Foto de Александар Цветановић de Pexels</a>
                        </li>
    
                        <li class="pt-2">
                            <p>-Escritorio</p>
                            <p>Usada en las secciones "Contacto", "Login" y "Créditos"</p>
                            <a class="credit-link" href="https://www.pexels.com/es-es/foto/cafe-apple-escritorio-oficina-4057059/" title="application stickers">Foto de Kate Trifo de Pexels</a>
                        </li>
                    </ul>
                </div>
    
                <div class="col">
                    <h4>De Flaticon:</h4>
                    <ul class="list-unstyled">
                        <li >
                            <p>-Persona con bata y café</p>
                            <p> Usada en sección "Sobre mí"</p>
                            <a class="credit-link" href="https://www.flaticon.com/free-stickers/spa" title="spa stickers">Spa stickers created by Stickers - Flaticon</a>
                        </li>
    
                        <li class="pt-2">
                            <p>-Documentos</p>
                            <p>Usada en sección "Experiencia"</p>
                            <a class="credit-link" href="https://www.flaticon.com/free-stickers/application" title="application stickers">Application stickers created by inipagistudio - Flaticon</a>
                        </li>

                        <li class="pt-2">
                            <p>-404</p>
                            <p>Usada en sección "404"</p>
                            <a class="credit-link" href="https://www.flaticon.com/free-icons/404-error" title="404 error icons" >404 error icons created by Ghozi Muhtarom - Flaticon</a>
                        </li>
                        
                    </ul>
                </div>
    
                
            </div>
        </div>  
    </div>

    <app-footer></app-footer>>
</div>
