/*TO ALL*/
*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}

/*CLASES REUTILIZADAS*/
:root{
    --dark: #1d1719;
    --medium: #896454;
    --light:#c3a08f;
    --dust: #a99b94a7;
    --deepblue: #167e8c5f;
    --storm: #3e3037;}


/*Clases utilizadas en más de un componente*/

/*imágenes en sobre mí y experiencia*/
.img-section{
    width: 280px;}
/*botón color medium usado en inicio, contacto y login*/
.btn-medium{
    background-color: var(--medium);
    color: #fff;
    text-shadow: 0px 2px 2px var(--dark);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;}
.btn-medium:hover{
    background-color: var(--light);
    transition: ease-in 0.3s;} 

/*Text Shadow para los títulos*/
.text-shadow{
    text-shadow: 0px 2px 2px var(--dark);}

/*Texto Pequeño*/
.sm-text{
    font-size: small;}

