/*TO ALL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*CLASES REUTILIZADAS*/
:root{
    --dark: #2a1d23;
    --medium: #896454;
    --light:#c3a08f;
    --peach: #d4c3ac;
    --oldblue: #7c9ac3;
}

/*temporal para edición*/
.img-section{
    width: 280px;
}
/*Edición temporaria para editar el ruteo y cambio de fóndos*/
/* .fondo-dinamico{
    background: linear-gradient(var(--dark), var(--medium), var(light));
    background-image: url(src\assets\images\image.png);
    background-size: cover;
    background-repeat: no-repeat;
} */


.fondo-dinamico{
    background-color: var(--medium);
}
