/*Hover de los íconos Github y StackOverflow*/
.nav-link i:hover{
    color: var(--dark);
    transition: ease-in 0.3s; }

/*Height*/
.footer{
    height: 9vh;
}

.credits:hover{
    color: var(--dark);
    transition: ease-in 0.3s; }

.nav-item:hover{
    color: var(--dark);
    transition: ease-in 0.3s; }

.sm-text{
    font-size: 0.7rem;
}
ul{
    list-style: none;
}