/*Línea decoradora*/
.vr{
    /* height: 100vh; */
    background:linear-gradient(#fff, #167e8c);
    opacity: 1;
    width: 0.2rem;
    border-radius: 1rem;}

/*Fondo de las Card de Educación*/
.card-educacion{
    background-color:#a99b94a7;
    border-radius: 1rem;}

/*Hover de las Card Educación*/
.card-educacion:hover{
    background-color:#167e8c5f;}
/*ïconos de Tecnologías*/
.tecnologias{
    text-shadow: 0px 5px 2px  var(--dark);}
/*Hover íconos Tecnologías y Texto*/
.tecnologias:hover{
    color: #167e8c;}

/*Imagen de fondo que abarca al nav y a la sección*/
.container-sobremi{
    background: linear-gradient(var(--dark), var(--medium), var(light));
    background-image: url(src\assets\images\image.png);
    background-size: cover;
    background-repeat: no-repeat;}