/*Línea decoradora*/
.vr{
    /* height: 100vh; */
    background:linear-gradient(#fff, var(--oldblue));
    opacity: 1;
    width: 0.2rem;
    border-radius: 1rem;}

/*Imagen principal*/
.img-section{
    width: 280px;}

/*Fondo de las Card de Educación*/
.card-educacion{
    background-color:#e8b99f71;
    border-radius: 1rem;}

/*Hover de las Card Educación*/
.card-educacion:hover{
    background-color:#98715b71;}
/*ïconos de Tecnologías*/
.tecnologias{
    text-shadow: 0px 5px 2px  var(--dark);}
/*Hover íconos Tecnologías y Texto*/
.tecnologias:hover{
    color: var(--medium);}
/*Tecnologías Texto*/
.tecnologias-text{
    text-shadow: 0px 3px 2px  var(--dark);}

/*Texto pequeño personalizado*/
.sm-text{
    font-size: small;}
/*Text Shadow para el título*/
.text-shadow{
    text-shadow: 0px 2px 2px var(--dark);
}

/*Imagen de fondo que abarca al nav y a la sección*/
.container-sobremi{
    background: linear-gradient(var(--dark), var(--medium), var(light));
    background-image: url(src\assets\images\image.png);
    background-size: cover;
    background-repeat: no-repeat;}