/*Línea Decorativa*/
.vr{
    background:linear-gradient(#fff, var(--oldblue));
    opacity: 1;
    width: 0.2rem;
    border-radius: 1rem;}

/*Foto que envuelve al nav y a la sección completa de Experiencia y Proyectos*/
.container-experiencia{
    background-image: url( src\assets\images\image.png);
    background-size: cover;
    background-repeat: no-repeat;}
    
/*Imagen del Título*/
.img-principal{
    width: 280px;}

/*Texto Pequeño*/
.sm-text{
    font-size: small;}
/*Text Shadow para el título*/
.text-shadow{
    text-shadow: 0px 2px 2px var(--dark);
}
/*Card Trabajo*/
.card-trabajo{
    background-color:#a9775da7;
    border-radius: 2rem;}
/*Hover Trabajo*/
.card-trabajo:hover{
    background-color: #80563fa7;}

/*Card Proyecto*/
.card-proyecto{
    background-color:#a9775da7;
    border-radius: 1rem;}
/*Imagen Proyecto*/
.card-img-top{
    border: none;
    border-radius: 0.8rem;}

/*Botones Ver y Código*/
.btn-shell{
    background-color: var(--light);
    color: #fff;
    text-shadow: 0px 2px 2px var(--dark);
    border: none;
    border-radius: 0rem 1rem ;
    cursor: pointer;
}
/*Hover de los botones*/
.btn-shell:hover{
    background-color: var(--medium);
    transition: ease-in 0.3s;}

/*Hover de las tarjetas Trabajo y Proyecto*/
.card:hover{
    background-color:#764a3169;
    transition: 0.4s;}

/*Radio de los Logos empresas*/
.logo-empresa{
    border-radius: 2rem;}


