.vr{
    /* height: 100vh; */
    background:linear-gradient(#fff, var(--oldblue));
    opacity: 1;
    width: 0.2rem;
    border-radius: 1rem;
}

.img-section{
    width: 280px;
}

/*educación*/
.card-educacion{
    background-color:#e8b99f55;
    border-radius: 1rem;

}

.card-trabajo:hover{
    background-color: #80563fa7;

}

/*tecnologias*/
.tecnologias{
    text-shadow: 0px 5px 2px  var(--dark);
    /* font-size: 4rem; */
}
.tecnologias:hover{
    color: var(--medium);
}

.sm-text{
    font-size: small;
}

.sobremi{
    background: linear-gradient(var(--dark), var(--medium), var(light));
    background-image: url(src\assets\images\image.png);
    background-size: cover;
    background-repeat: no-repeat;
}